<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CivicBlocks | GeoCoin</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" href="/style.css" media="screen">
</head>

<body class="container">
  <div class="row .no-gutters">
    <nav class="col-12">
      <img src="./img/CivicBlocks-logo.svg" class="navLogo col-2" alt="geocoinlogo">
      <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-inverse p-3 collapsedInfo">
        <button type="button" class="btn btn-danger btn-md" onclick="clearLocalData()">Delete Wallet</button>
      </div>
      </div>
      <button class="menuButton" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <img class="menuIcons" src="./img/menu.svg"></span>
      </button>
    </nav>
  </div>
